@page "/"
@inherits IndexBase

<button class="btn btn-primary" @onclick="CallServiceGet">Call Service GET</button>
<button class="btn btn-primary" @onclick="CallServicePost">Call Service POST</button>

